@import './exampleForm.scss';
@import './index.scss';
@import './_variables.scss';
@import 'fontawesome/scss/fontawesome.scss';
@import 'fontawesome/scss/solid.scss';
@import 'fontawesome/scss/brands.scss';
@import 'fontawesome/scss/regular.scss';
@import 'fontawesome/scss/light.scss';

html {
  height: 100%;
  scroll-behavior: smooth;
}
p {
  font-size: 1.6rem;
  color: #000;
  margin: 0 !important;
  line-height: 1;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

html,
body {
  width: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  // font-size: $font-root;
  background-color: #f6f6f6;
  @include animation-delay(0.5);
  // @include font-light;
  letter-spacing: 0.5px;
  font-size: 16px;
  // @include font-regular;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

// body {
//   padding: 0;
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
// }

a {
  color: inherit;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

.loadingBlur {
  filter: blur(7px);
  pointer-events: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  @include animation-delay(0.2);
}

.loading-pages {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 5000;
  left: 0;
}
